########################################################
# XTube.com VideoPortal
########################################################
start=https://www.xtube.com/video/mrc
catcher=xtube.com
header=Cookie|xtube_cookies=%7B%22cookie_user_type%22%3A0%2C%22cookie_user_status%22%3A0%2C%22cookie_sex_type%22%3A%22S%22%2C%22cookie_gender%22%3A%22M%22%2C%22cookie_xtube_money%22%3A0%2C%22cookie_countrycode%22%3A0%2C%22cookie_local_city_id%22%3A0%2C%22cookie_wm_filter%22%3A0%2C%22cookie_isInitialPreferenceSet%22%3Afalse%2C%22c_remember%22%3Afalse%2C%22c_sid%22%3A%22170c49f22e4f83b4a134455a3f30b6a859d978ef%22%7D;xtube_cookies_hash=520d56b4ab4e6fbd5dae892e896d6e938a340d68
########################################################
# Videos
########################################################
item_infos=data-src="([^"]+)".+?metaInfo"></.+?videoDuration">([^<]+).+?<a.+?href="/video-watch/([^"]+).+?itemTitle">([^<]+)<
item_order=icon|title.append|url|title
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=https://www.xtube.com/video-watch/%s
########################################################
title= Categories
type=once
icon=video.devil.image|face_kiss.png
url=https://www.xtube.com/categories
########################################################
# Categories
########################################################
item_infos=<a href="([^"]+)"[^<]+?"category"><img[^<]+?data-src="([^"]+)".+?<h3>([^<]+)<
item_order=url|icon|title
item_skill=rss
item_url_build=https://www.xtube.com%s/mrc
########################################################
# Next
########################################################
item_infos=href="([^"]+)"[^<]+?title="next">
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=https://www.xtube.com%s
########################################################